@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body {
    background-color: rgb(225, 187, 187);
    font-family: 'Lato';
    width: 100%;

}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.players {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
}
.player {
    height: 100%;
    align-items: stretch;
}

.player--is-active {
    background-color: lightgray;
}
.feature {
    position: absolute;
    z-index: 2;
    left: 50%;
}